.mixin.out/
.vscode/

saves/
gtceu/
journeymap/
mods/
modernfix/
logs/
ldlib/
local/
scripts/
crash-reports/
data/
patchouli_books/
quests_structures/
resourcepacks/
skyblockbuilder/


kubejs/probe/

*.log
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json